<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <link rel="stylesheet" href="(% static 'styles.css'%}">
</head>
<body>
    <h1>Estadisticas generales de Puzzlevid</h1>
    <ul>
        <li>Usuario: {{usuario_id}}</li>
        <li>Score quimica: {{quimica}}</li>
        <li>Score mate: {{mate}}</li>
        <li>Score geografia: {{geo}}</li>
        <li>Score fisica: {{fisica}}</li>
        <li>Score historia: {{hist}}</li>
        <li>Enemigos eliminados: {{enemigos}}</li>
    </ul>
</body>
</html>

