<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <!-- <link rel="stylesheet" href="{% static 'styles.css'%}"> -->
</head>
<body>
    <h1>Estadisticas generales de Puzzlevid</h1>
    
    <ul>
        {% for u in data %}
        <br>
        <li>Usuario: {{u.usuarioId}}</li>
        <li>Score quimica: {{u.scoreQuimica}}</li>
        <li>Score mate: {{u.scoreMate}}</li>
        <li>Score geografia: {{u.scoreGeografia}}</li>
        <li>Score fisica: {{u.scoreFisica}}</li>
        <li>Score historia: {{u.scoreHistoria}}</li>
        <li>Enemigos eliminados: {{u.EnemigosEliminados}}</li>
        {% endfor %}
        
    </ul>
</body>
</html>


